.Footer {
  font-size: 0.8rem;
}
.Footer h3 {
  font-size: 1.5rem;
}
.Footer h4 {
  font-size: 1.1rem;
}
.Footer .SocialMediaIcon {
  
  color:rgb(80, 80, 80);
}
.Footer .SocialMediaIcon:hover {
  color: black;
}